body{
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    line-height: 1.5; 
    padding: 0;
    margin: 0;
    background-color: #212121;
}


/* global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.small_bar{
    display: none;
}
.small_side-bar_socials{
    padding-left:0px;
    list-style-type: none;
}
.small_side-bar_socials .items{
    display:inline;
}
.small_container_moto{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.reference{
    font-size: 12px;
    color: #212121;
    text-decoration:none;
}

#boxes .box{
    float:none;
    text-align:center;
    width:100%;
}
/*header*/

header ul{
    margin: 0;
    padding : 0;
}

.container_header{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: #212121;
    color:#ffffff;
    padding-top: 10px;
    min-height: 70px;
}



header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

header li{
    float: left;
    display: inline;
    padding : 0 20px 0 20px;
}
header #branding{
    float : left;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}


header nav{
    margin-top: 0px;
    float : right;
}

header .highlight, header .current a{
    color : #ffffff;
    font-weight:bold;
}

header #menu:hover{
    color:#cccccc;
    font-weight : bold;
}

/* showcase*/
#showcase{
    min-height : 450px;
    text-align: center;
    color: #ffffff;
}
.container_body{
    display: flex;
    height:600px;
}


.container_sidebar{
    margin: auto;
    margin-top: 150px;
    overflow: hidden;
    flex-basis: 10%;
    padding-top: 20px;
}

.container_moto{
    position : absolute; 
    font-weight: 600;
    transform: rotate(90deg);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.motobox{
height: 90px;
}
.side-bar_socials{
    position: absolute;
    list-style-type: none;
    margin: auto;
    margin-left : 20px;

}
.items{
    margin-top : 10px;
}
.side_img{
    width:40px;
    height: 40px;
}
.container_hi{
    width: 50%;
    margin: auto;
    margin-right : 150px;
    flex-basis: 90%
}
.button_1{
    height:38px;
    background:#e8491d;
    border: 0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
    }
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size:20px;
    }

/* for the main */
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        width: 100%;
        }
    .container_sidebar{
        display: none;
        }
    .container_hi{
        margin-right: 5px;
    }
    .small_bar{
        display: inline;
    }
    .column #branding{
        font-size:20px;
    }
    .current{
        font-size:13px;
    }
    .side-bar_socials .items{
        display: inline;
    }
    .container_moto{
        padding-left: 7px;
        text-align: center;
    }
    .side-bar_socials{
        margin-left : 0px;
        margin-right: 10px;
        padding-left: 0px;
    }
    .container_body{
        display: flex;
        flex-direction: column-reverse;
    }
    .container_sidebar{
        flex-basis: 30%;
        margin-left:290px;
    }
    .container_hi{
        flex-basis:70%;
        text-align: center;
        margin : auto;
    }
}
   
      
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        }
    .container_sidebar{
        display: none;
        }
    .container_hi{
        margin-right: 5px;
        }
    .small_bar{
        display: inline;
        }
    .column #branding{
        font-size:15px;
        }
    .current{
        font-size:10px;
        }
    .side-bar_socials .items{
        display: inline;
        }
    .container_moto{
        padding-left: 7px;
        text-align: center;
        }
    .side-bar_socials{
        margin-left : 0px;
        margin-right: 10px;
        padding-left: 0px;
        }
    .container_body{
        display: flex;
        flex-direction: column-reverse;
        }
    .container_sidebar{
        flex-basis: 30%;
        margin-left:290px;
        }
    .container_hi{
        flex-basis:70%;
        text-align: center;
        margin : auto;
        }
    #showcase p{
        font-size : 15px;
    }
      }
    
/*newsletter*/

#newsletter{
    padding:15px;
    color:#ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}
#newsletter form{
    float : right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width: 250px;
}

#newsletter button{
    display:block;
    width:100%;
}

#newsletter form input[type = "email"]{
    width: 200%;
    margin-bottom: 5px;

}

/*boxes*/
#boxes{
    margin-top:20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding:10px;
}
.box{
    color : #ffffff
}

#boxes .box img{
    width:40%
}
/*sidebar*/
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;

}

/*Main-col*/
article#main-col{
    float: left;
    width: 65%;
}


footer{
    padding:10px;
    margin-top: px;
    color:#ffffff;
    background-color: #424242;
    text-align: left;
}


/*About page*/

.About_body{
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    line-height: 1.5; 
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}

.About_header{
    background-color: #FAFAFA;
    color:#212121;
    padding-top: 10px;
    min-height: 70px;
}

header #About_branding{
    float : left;
    margin-top: 10px;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}

header .highlight, header .About_current a{
    color : #212121;
    font-weight:bold;
}
.About_container_header{
    width: 80%;
    margin: auto;
    overflow: hidden;
    }

/*showcase in about*/


.About_container_body{
    display: flex;
    min-height: 900px;
}

.About_container_sidebar{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    overflow: hidden;
    flex-basis: 10%;
    padding-top: 20px;
}

.About_container_hi{
    width: 50%;
    margin-right : 150px;
    overflow: hidden;
    flex-basis: 90%
}
.About_side-bar_socials{
    position: absolute;
    list-style-type: none;
    margin: auto;
    margin-left : 20px;
}




/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
.column {
    width: 100%;
    }
.column .About_moto{
    font-size: 40px;
    }
.column .moto_slider{
    font-size: 37px;
}
.About_container_sidebar{
    visibility:hidden;
    }
.About_container_hi{
    display: flex;
    margin-right: 0px;
    margin-left:2px;
}
.moto_container{
    flex-basis: 40%;
}
.moto_slider{
    flex-basis: 60%;
}
.column #About_branding{
    font-size:20px;
}
.About_current{
    font-size:13px;
}

}
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
        width: 100%;
        }
    .column .About_moto{
        font-size: 17px;
        margin-right:10px;
        margin-left:0px;
        }
    .column .moto_slider{
        font-size: 15px;
    }
    .About_container_sidebar{
        visibility:hidden;
        }
    .About_container_hi{
        display: flex;
        margin-right: 0px;
        margin-left: 20px;
    }
    .moto_container{
        flex-basis: 40%;
    }
    .moto_slider{
        flex-basis: 60%;
    }
    .column #About_branding{
        font-size:15px;
    }
    .About_current{
        font-size:10px;
    }
    
  }

.About_moto{
    color: #212121;
    text-align: left;
    font-weight: 900;
    font-size: 90px;
    margin: auto;
}

.moto_slider{
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.word-slider-letter{
    display: inline-block;
    line-height: 1em;
}
/*project page*/

.Project_body{
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    line-height: 1.5; 
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}

.Project_header{
    background-color: #FAFAFA;
    color:#212121;
    padding-top: 10px;
    min-height: 70px;
}

header #Project_branding{
    float : left;
    margin-top: 10px;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}

header .highlight, header .Project_current a{
    color : #212121;
    font-weight:bold;
}
.Project_container_header{
    width: 80%;
    margin: auto;
    overflow: hidden;
    }
.Project_side-bar_socials{
    position: absolute;
    list-style-type: none;
    margin: auto;
    margin-left : 20px;
    }
/*showcase in project*/


.Project_container_body{
    display: flex;
    min-height: 900px;

}

.Project_container_sidebar{
    width: 50%;
    margin: auto;
    margin-top: 150px;

    flex-basis: 10%;
    padding-top: 20px;
}

.Project_container_hi{
    width: 50%;
    margin-right:100px;
    flex-basis: 90%
}
.Project_h1{
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    color: #1d1e22
}
.Project_description{
    text-align: center;
    letter-spacing: .025em;
    line-height: 1.8em;
    color: #52545a;
}
.pcontainner{
    display: flex;
    margin-left : 100px;
    margin-top : 40px;
    text-align: center
}
.Project_image{
    flex-basis: 30%;
}
.Project_discription{
    flex-basis: 70%;   
    width: 600px;
    height: 400px; 
}

.Project_image_file{
    width: 450px;
    height: 300px; 
}
.Project_name{
    margin: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
}
.Project_explain_role{
    margin: auto;
    font-weight: 400;
    font-size: 15px;
    color: #52545a
}
.Project_explain_tool{
    margin: auto;
    font-weight: 400;
    font-size: 12px;
    color: #52545a
}
.Project_explain_brief{
    margin: auto;   
    margin-top: 20px;
    line-height: 50px;
    width: 450px;
    height: 300px; 
}

/* On screens that are 1325px wide or less, go from four columns to two columns */
@media screen and (max-width: 1325px) {
    .column {
        width: 100%;
    }
    .pcontainner{
        flex-direction: column;
        margin-left:0px;
    }
    .Project_discription{
        margin:auto;
    }
    .Project_container_sidebar{
        display: none;
        }
    .Project_container_hi{
        width: 50%;
        overflow: hidden;
        flex-basis: 90%
    }
    .Project_h1{
        flex-basis: 40%;
    }
    .moto_slider{
        flex-basis: 60%;
    }
  
    }

/* On screens that are 997px wide or less, go from four columns to two columns */
@media screen and (max-width: 997px) {
    .column {
        width: 100%;
        }

    .Project_container_sidebar{
        display: none;
        }
    .pcontainner{
        flex-direction: column;
        margin-left:0px;
        }
    .Project_discription{
        margin:auto;
        }
    .column #Project_branding{
        font-size:20px;
    }
    .Project_current{
        font-size:13px;
    }     

      
      /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
          
        .column {
            width: 100%;
            }
        .Project_h1{
            font-size:25px;
        }
        .Project_container_hi{
            margin-left: 20px;
            margin-right:0px;
            }
        .Project_container_sidebar{
            display: none;
        }
        .pcontainner{
            flex-direction: column;
            margin: auto;
            }
        .Project_discription{
        width: 300px;
            }
        .Project_explain_brief{
            width: 180px;
        }
        .column #Project_branding{
            font-size:15px;
        }
        .Project_current{
            font-size:10px;
        }
      }
    
